#zone {
  height: 100%;
  width: 50%;
  border: heavy $accent;
  padding: 1;
  content-align: left top;
}

#dialogues {
  height: 100%;
  width: 50%;
  border: heavy $accent;
  padding: 1;
  content-align: left top;
}

#game_data {
  height: 30%;
  width: 20%;
  border: heavy $accent;
  padding: 1;
  content-align: left bottom;
}
