# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env/
.venv/
env/
venv/
*.sqlite3

# --- VSCode ---
.vscode/
.history/
.tmp.driveupload/

# --- OS spécifiques ---
.DS_Store     # macOS
Thumbs.db     # Windows
desktop.ini   # Windows

# --- Logs / Dépannage ---
*.log
*.bak
*.tmp

# --- Tests / Coverage ---
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
coverage.xml
.cache/

# --- Jupyter / IPython ---
.ipynb_checkpoints/
*.ipynb

# --- Autres caches potentiels ---
.mypy_cache/
.pyre/
.pytype/
